<body style='background-color:cornsilk'>
</body>
@{
    ViewBag.Title = "";
}
    <div class="titleAbout" style="background-color:cornsilk">
        <h2>Welcome to BlockBuster Video, Bring the good times home!</h2>
    </div>

    <div class="aboutDescription">
        <h4>
            Blockbuster is an American provider of home video (DVD, VHS), and video game rental services that was founded in 1985 and disestablished in 2013. In 2004, Blockbuster had nearly 60,000 employees and over 8,000 stores.

            Blockbuster was founded in 1985 by David Cook, a technician. In 1994 it was bought by media giant Viacom and in 1997 John Antioco was named CEO. In 2004, they launched the "Blockbuster By Mail" DVD service to compete with Netflix and In 2007, James Keyes, a 7-Eleven executive, replaced Antioco as CEO. Blockbuster also started "Blockbuster On Demand" as an online-streaming service. Blockbuster filed for bankruptcy on September 23, 2010. On April 6, 2011, the company and its remaining 1,700 stores were bought by the satellite television company Dish Network and Michael Kelly of Dish was named President of Blockbuster. Stores remained open until Dish closed all company-owned locations in 2013.

            In 2015, Blockbuster replaced "Blockbuster On Demand" with Sling TV, an over-the-top television service. As of 2017, The Blockbuster Fan Page shows 12 franchise-owned stores remaining in operation in the USA.

        </h4>
    </div>



    <div class="bg">
        <img src="~/Images/wallpaper.jpg" />
    </div>
